<div class="container">
  <div class="col-12">
    <h3>Login</h3>
<form [formGroup]="loginForm">
  <span *ngIf="loginError">Error in Login</span>

  <div class="col-6 form-group">
    <label for="email">Username</label>
    <input type="text" class="form-control" id="email" placeholder="Enter Username" name="email" formControlName="email">
    <div *ngIf="loginForm.controls.email.invalid && (loginForm.controls.email.dirty || loginForm.controls.email.touched)">
      <span *ngIf="loginForm.controls.email.errors?.required">Username is Required</span>
      <span *ngIf="loginForm.controls.email.errors?.minLength">Minimum 2 character of Username is Required</span>
      <span *ngIf="loginForm.controls.email.errors?.maxLength">Maximum 50 character is allowed in Username</span>
    </div>  
  </div>
  <div class="col-6 form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" formControlName="password">
    <div *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched || loginForm.controls.password.dirty">
      <span *ngIf="loginForm.controls.password.errors?.required">Password is Required</span>
      <span *ngIf="loginForm.controls.password.errors?.minLength">Minimum 2 character of Password is Required</span>
      <span *ngIf="loginForm.controls.password.errors?.maxLength">Maximum 50 character is allowed in Password</span>
    </div> 
  </div>
  <button type="button" class="btn btn-success" (click)="login()">Login</button>
<a routerLink="/register">Want to Register</a>
</form>
  </div>
</div>